## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/Juana/Desktop/GWU/Class_Lessons/Mod6_PythonAPIs/Mod6_Challenge/Vacation_Search/WeatherPy_vacation.csv", index_col=[0])
vacation_df.head()

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
City_ID,,,,,,,
1,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
3,Hithadhoo,MV,81.09,overcast clouds,-0.6000,73.0833,Scoop Guest House
6,Salalah,OM,78.89,broken clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
11,Jamestown,US,82.94,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
23,Isangel,VU,75.92,overcast clouds,-19.5500,169.2667,Tanna Lodge

In [3]:
vacation_df.count()

City                   302
Country                302
Max Temp               302
Weather description    302
Lat                    302
Lng                    302
Hotel Name             302
dtype: int64

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Weather description</dt><dd>{Weather description}<dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]


# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

city_start = vacation_df.loc[vacation_df['City'] == 'Olot']
city_end = vacation_df.loc[vacation_df['City'] == 'Olot']
city_stop1 = vacation_df.loc[vacation_df['City'] == 'Lleida']
city_stop2 = vacation_df.loc[vacation_df['City'] == 'Zaragoza'] 
city_stop3 = vacation_df.loc[vacation_df['City'] == 'Hellin']

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = city_start['Lat'].to_numpy()[0], city_start['Lng'].to_numpy()[0]
print(f'Start = {start}')
end = city_start['Lat'].to_numpy()[0], city_start['Lng'].to_numpy()[0]
print(f'End = {end}')
     
stop_1 = city_stop1['Lat'].to_numpy()[0], city_stop1['Lng'].to_numpy()[0]
print(f'stop_1 = {stop_1}')

stop_2 = city_stop2['Lat'].to_numpy()[0], city_stop2['Lng'].to_numpy()[0]
print(f'stop_2 = {stop_2}')

stop_3 = city_stop3['Lat'].to_numpy()[0], city_stop3['Lng'].to_numpy()[0]
print(f'stop_3 = {stop_3}')

Start = (42.181, 2.4901)
End = (42.181, 2.4901)
stop_1 = (41.6167, 0.6167)
stop_2 = (41.6561, -0.8773)
stop_3 = (38.5106, -1.701)

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions = gmaps.directions_layer(
    start, end, waypoints=(stop_1, stop_2, stop_3),
        travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([city_start, city_stop1, city_stop2, city_stop3, city_end],ignore_index=True)
itinerary_df

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,Olot,ES,92.71,broken clouds,42.1810,2.4901,Hotel Riu FluviÃ
1,Lleida,ES,98.80,clear sky,41.6167,0.6167,Hotel Ramon Berenguer IV
2,Zaragoza,ES,95.02,clear sky,41.6561,-0.8773,Hotel Goya
3,Hellin,ES,95.67,clear sky,38.5106,-1.7010,Hotel Restaurante Reina Victoria
4,Olot,ES,92.71,broken clouds,42.1810,2.4901,Hotel Riu FluviÃ

In [41]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Weather description</dt><dd>{Weather description}<dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))